{% extends "base.html" %}
{% block title %}{{ SITENAME }}{% endblock %}

{% block canonical_rel %}
<link rel="canonical" href="{{ SITEURL }}">
{% endblock %}

{% block collapse_latest %}in{% endblock %}

{% block content %}
    {% for page in pages %}
        {% if page.title=="About" %}
        <div class="row">
            <div class="col-lg-9">
                <section id="content" class="body">
                    <div class="jumbotron">  
                        <h1>{{ SITENAME }}</h1>
                        <p>{{ SITESUBTITLE }}</p>
                    </div>
                    <div class="entry-content">
                        {{ page.content }}
                    </div>
                </section>
            </div>
        </div>
       {% endif %}
    {% endfor %}
{% endblock %}


